@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  box-sizing: border-box;
}

.book-title {
  font-style: italic;
}
img {
  border-radius: 5px;
}
body {
  background-color: #111133;
  color: silver;
}

/*Nav*/
.nav {
  margin-top: 5px;
  text-align: center;
}
.home-nav,
.home-nav:visited {
  align-items: center;
  background-color: #222255;
  border-radius: 10px;
  color: white;
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
  text-decoration: none;
}
.home-nav-icon {
  margin: 5px 5px 0px 5px;
  width: 30px;
}

/*Home*/
.Home h1 {
  font-family: "Cinzel";
  font-size: 48px;
  margin: 0;
  text-align: center;
}
.Home .books {
  text-align: center;
}
/*BookCard*/
.book-card-wrapper {
  display: inline-block;
  background-color: #222222;
  border-radius: 20px;
  height: 600px;
  margin: 25px;
  padding: 20px;
  width: 500px;
}
.book-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.book-card h2 {
  text-align: center;
}

.book-card a {
  color: gold;
  padding: 10px;
}
/*Book*/
.book-page {
  text-align: center;
}
.book-page h1 {
  margin-top: 0px;
}
.book-details {
  border-color: gray;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  display: inline-flex;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}
.book-details .book-cover-img-wrapper {
  display: flex;
  align-items: center;
}
.book-details .quote {
  padding: 20px;
  align-self: center;
}
